################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Train/Train/Properties/AssemblyInfo.cs
/Train/Train/obj/Debug/Train.csprojResolveAssemblyReference.cache
/Train/Train/obj/Debug/Train.csproj.CoreCompileInputs.cache
/Train/Train/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Train/Train/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Train/Train/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Train/Train/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Train/Train/obj/Debug
/Train/Train/App.config
/Train/Train
/Train/.vs/Train/v15/Server/sqlite3/storage.ide-wal
/Train/.vs/Train/v15/Server/sqlite3/storage.ide-shm
/Train/.vs/Train/v15/Server/sqlite3/storage.ide
/Train/.vs/Train/v15/Server/sqlite3/db.lock
/Train/.vs/Train/v15/Server/sqlite3
/Train/.vs/Train/v15/.suo
/Train/.vs/Train/v15
